@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cafe24 Ohsquare';
  src: url('../fonts/Cafe24OhsquareAir-v2.0.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}